
<section class="post">
	<%= render @post %>
</section>

<section class="comments">
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/blogmpafi/embed.js"></script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=blogmpafi">comments powered by Disqus.</a></noscript>
</section>
